In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

About Dataset

This dataset contains information about the cost of living in almost 5000 cities across the world. The data were gathered by scraping Numbeo's website (https://www.numbeo.com).
Data dictionary:
Column 	Description
1. city 	Name of the city
2. country 	Name of the country
3. x1 	Meal, Inexpensive Restaurant (USD)
4. x2 	Meal for 2 People, Mid-range Restaurant, Three-course (USD)
5. x3 	McMeal at McDonalds (or Equivalent Combo Meal) (USD)
6. x4 	Domestic Beer (0.5 liter draught, in restaurants) (USD)
7. x5 	Imported Beer (0.33 liter bottle, in restaurants) (USD)
8. x6 	Cappuccino (regular, in restaurants) (USD)
9. x7 	Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)
10. x8 	Water (0.33 liter bottle, in restaurants) (USD)
11. x9 	Milk (regular), (1 liter) (USD)
12. x10 	Loaf of Fresh White Bread (500g) (USD)
13. x11 	Rice (white), (1kg) (USD)
14. x12 	Eggs (regular) (12) (USD)
15. x13 	Local Cheese (1kg) (USD)
16. x14 	Chicken Fillets (1kg) (USD)
17. x15 	Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)
18. x16 	Apples (1kg) (USD)
19. x17 	Banana (1kg) (USD)
20. x18 	Oranges (1kg) (USD)
21. x19 	Tomato (1kg) (USD)
22. x20 	Potato (1kg) (USD)
23. x21 	Onion (1kg) (USD)
24. x22 	Lettuce (1 head) (USD)
25. x23 	Water (1.5 liter bottle, at the market) (USD)
26. x24 	Bottle of Wine (Mid-Range, at the market) (USD)
27. x25 	Domestic Beer (0.5 liter bottle, at the market) (USD)
28. x26 	Imported Beer (0.33 liter bottle, at the market) (USD)
29. x27 	Cigarettes 20 Pack (Marlboro) (USD)
30. x28 	One-way Ticket (Local Transport) (USD)
31. x29 	Monthly Pass (Regular Price) (USD)
32. x30 	Taxi Start (Normal Tariff) (USD)
33. x31 	Taxi 1km (Normal Tariff) (USD)
34. x32 	Taxi 1hour Waiting (Normal Tariff) (USD)
35. x33 	Gasoline (1 liter) (USD)
36. x34 	Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)
37. x35 	Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)
38. x36 	Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)
39. x37 	1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)
40. x38 	Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)
41. x39 	Fitness Club, Monthly Fee for 1 Adult (USD)
42. x40 	Tennis Court Rent (1 Hour on Weekend) (USD)
43. x41 	Cinema, International Release, 1 Seat (USD)
44. x42 	Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)
45. x43 	International Primary School, Yearly for 1 Child (USD)
46. x44 	1 Pair of Jeans (Levis 501 Or Similar) (USD)
47. x45 	1 Summer Dress in a Chain Store (Zara, H&M, â€¦) (USD)
48. x46 	1 Pair of Nike Running Shoes (Mid-Range) (USD)
49. x47 	1 Pair of Men Leather Business Shoes (USD)
50. x48 	Apartment (1 bedroom) in City Centre (USD)
51. x49 	Apartment (1 bedroom) Outside of Centre (USD)
52. x50 	Apartment (3 bedrooms) in City Centre (USD)
53. x51 	Apartment (3 bedrooms) Outside of Centre (USD)
54. x52 	Price per Square Meter to Buy Apartment in City Centre (USD)
55. x53 	Price per Square Meter to Buy Apartment Outside of Centre (USD)
56. x54 	Average Monthly Net Salary (After Tax) (USD)
57. x55 	Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate
58. data_quality 	0 if Numbeo considers that more contributors are needed to increase data quality, else 1

In [2]:
df=pd.read_csv('cost-of-living.csv',index_col=0)
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,...,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,...,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,...,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,...,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,...,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4870,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4871,Ixtapa Zihuatanejo,Mexico,5.19,31.13,12.97,0.99,NaN,1.82,0.62,0.42,...,103.78,415.11,259.44,518.89,415.11,NaN,NaN,NaN,NaN,0
4872,Iqaluit,Canada,29.78,74.61,13.77,6.70,8.93,3.72,3.54,4.10,...,NaN,NaN,NaN,2978.11,2978.11,NaN,NaN,NaN,6.53,0
4873,Neiafu,Tonga,NaN,29.53,10.55,10.55,NaN,NaN,2.11,2.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4874 entries, 0 to 4873
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          4874 non-null   object
 1   country       4874 non-null   object
 2   x1            4449 non-null   float64
 3   x2            4432 non-null   float64
 4   x3            4552 non-null   float64
 5   x4            4385 non-null   float64
 6   x5            4445 non-null   float64
 7   x6            4540 non-null   float64
 8   x7            4438 non-null   float64
 9   x8            4571 non-null   float64
 10  x9            4494 non-null   float64
 11  x10           4457 non-null   float64
 12  x11           4538 non-null   float64
 13  x12           4369 non-null   float64
 14  x13           4393 non-null   float64
 15  x14           4318 non-null   float64
 16  x15           4312 non-null   float64
 17  x16           4509 non-null   float64
 18  x17           4499 non-null   float64
 19  x18           4439 non-null   float64
 20  x19           4410 non-null   float64
 21  x20           4444 non-null   float64
 22  x21           4447 non-null   float64
 23  x22           4379 non-null   float64
 24  x23           4490 non-null   float64
 25  x24           4414 non-null   float64
 26  x25           4149 non-null   float64
 27  x26           4223 non-null   float64
 28  x27           4389 non-null   float64
 29  x28           3401 non-null   float64
 30  x29           2750 non-null   float64
 31  x30           4013 non-null   float64
 32  x31           3869 non-null   float64
 33  x32           3506 non-null   float64
 34  x33           4296 non-null   float64
 35  x34           3839 non-null   float64
 36  x35           3904 non-null   float64
 37  x36           4400 non-null   float64
 38  x37           3702 non-null   float64
 39  x38           4534 non-null   float64
 40  x39           3523 non-null   float64
 41  x40           2508 non-null   float64
 42  x41           4405 non-null   float64
 43  x42           3761 non-null   float64
 44  x43           3230 non-null   float64
 45  x44           4413 non-null   float64
 46  x45           4273 non-null   float64
 47  x46           4388 non-null   float64
 48  x47           4337 non-null   float64
 49  x48           3533 non-null   float64
 50  x49           3465 non-null   float64
 51  x50           3418 non-null   float64
 52  x51           3385 non-null   float64
 53  x52           2681 non-null   float64
 54  x53           2609 non-null   float64
 55  x54           3459 non-null   float64
 56  x55           3894 non-null   float64
 57  data_quality  4874 non-null   int64
dtypes: float64(55), int64(1), object(2)
memory usage: 2.2+ MB

From the above snippet of the dataframe it appears some rows have no values in all columns

In [5]:
#drop rows that have missing values in all columns
df=df.dropna(how='all')
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,...,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,...,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,...,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,...,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,...,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4870,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4871,Ixtapa Zihuatanejo,Mexico,5.19,31.13,12.97,0.99,NaN,1.82,0.62,0.42,...,103.78,415.11,259.44,518.89,415.11,NaN,NaN,NaN,NaN,0
4872,Iqaluit,Canada,29.78,74.61,13.77,6.70,8.93,3.72,3.54,4.10,...,NaN,NaN,NaN,2978.11,2978.11,NaN,NaN,NaN,6.53,0
4873,Neiafu,Tonga,NaN,29.53,10.55,10.55,NaN,NaN,2.11,2.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

Mmhhh looks like I was wrong...they just appeared to be that way

SOUTH AFRICA DATASET

In [6]:
#create a subset of the DataFrame which has South African Data
df_mzansi=df[df['country']=='South Africa']
df_mzansi

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
124,Johannesburg,South Africa,8.78,38.06,4.36,2.34,2.34,1.87,0.92,0.74,...,74.88,415.04,377.73,790.55,734.38,775.06,688.59,1549.63,8.88,1
344,Soweto,South Africa,7.32,29.28,4.10,1.17,2.34,1.76,1.07,0.69,...,70.26,304.46,363.01,468.41,497.68,NaN,NaN,NaN,9.92,0
409,Vereeniging,South Africa,11.12,39.52,4.68,1.17,1.46,2.05,0.97,0.79,...,76.06,NaN,NaN,NaN,NaN,NaN,NaN,1171.02,9.75,0
459,Pretoria,South Africa,7.32,35.13,4.68,1.76,2.05,1.68,0.90,0.71,...,88.17,312.08,343.99,733.84,721.24,450.84,634.12,1389.27,8.63,1
484,Cape Town,South Africa,8.78,35.13,4.10,2.34,2.63,1.84,0.91,0.69,...,78.02,722.68,482.29,1415.56,953.73,2108.49,1463.59,1288.41,8.49,1
495,Bloemfontein,South Africa,4.98,32.20,3.66,1.76,1.76,2.07,1.11,0.81,...,111.25,172.72,234.20,478.16,538.67,2634.78,2415.22,1307.63,13.08,0
644,Pietermaritzburg,South Africa,7.03,32.20,3.81,1.76,1.87,1.77,0.80,0.60,...,68.31,270.80,NaN,497.68,1053.91,1171.02,702.61,1210.05,9.25,0
765,Durban,South Africa,8.78,35.13,4.10,1.87,2.34,1.76,0.96,0.73,...,73.55,361.06,309.42,697.12,651.87,683.09,873.72,1108.46,8.52,1
981,Welkom,South Africa,3.28,35.13,4.24,1.99,2.34,1.05,0.89,0.64,...,83.43,NaN,NaN,222.49,NaN,NaN,NaN,NaN,9.62,0
1138,East London,South Africa,5.86,27.81,3.66,2.05,2.34,1.81,0.95,0.70,...,67.31,307.39,300.07,526.96,692.85,618.81,NaN,1135.88,9.29,0
1145,Randburg,South Africa,7.03,17.57,4.10,1.76,2.05,1.68,0.90,0.69,...,79.78,351.30,331.79,858.74,731.88,644.06,424.49,1678.45,8.63,0
1180,Roodepoort,South Africa,8.20,35.13,4.10,1.76,2.34,1.66,0.89,0.86,...,82.95,585.51,605.02,1317.39,1171.02,585.51,439.13,907.54,9.00,0
1224,Port Elizabeth,South Africa,12.88,43.91,4.98,2.05,2.63,1.81,1.06,0.78,...,93.68,526.22,442.79,936.81,684.31,1047.77,699.83,1180.94,8.81,1
1497,Centurion,South Africa,7.03,29.28,4.24,1.46,1.76,1.71,0.94,0.86,...,78.55,341.55,308.37,629.42,722.13,351.30,437.18,1619.90,8.00,0
1551,Sandton,South Africa,8.20,35.13,4.24,1.99,2.34,1.71,0.89,0.86,...,83.43,603.07,417.17,955.82,988.04,831.42,694.09,2006.34,9.62,1
1563,Polokwane,South Africa,5.71,21.66,3.91,0.97,2.93,1.79,0.59,0.50,...,93.68,NaN,NaN,409.86,NaN,488.31,456.70,1990.73,7.00,0
1811,Klerksdorp,South Africa,3.51,28.10,3.22,1.17,1.46,1.61,0.66,0.47,...,83.43,105.39,204.93,468.41,702.61,NaN,NaN,1112.46,9.62,0
1890,Rustenburg,South Africa,10.54,30.74,3.37,1.76,2.22,1.72,1.05,0.82,...,54.16,351.30,468.41,585.51,702.61,NaN,NaN,1756.52,8.00,0
1902,Kimberley,South Africa,4.98,32.20,3.66,1.14,1.29,1.71,1.04,0.66,...,111.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.08,0
1925,Benoni,South Africa,10.83,40.99,4.68,1.17,1.46,2.05,0.96,0.72,...,76.06,234.20,614.78,392.29,1522.32,797.99,975.87,1551.59,9.25,0
1945,George,South Africa,8.78,30.74,4.98,2.05,2.63,1.65,0.95,0.78,...,70.26,322.03,248.84,673.33,512.32,1024.64,819.71,878.26,8.50,0
2014,Vryheid,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.25,0
2033,Potchefstroom,South Africa,5.27,23.42,4.39,1.46,1.17,1.17,0.94,0.47,...,52.70,292.75,204.93,585.51,351.30,954.38,667.48,673.33,8.00,0
2268,Alberton,South Africa,8.49,29.28,4.68,1.76,2.05,1.68,0.90,0.68,...,58.55,292.75,248.84,526.96,556.23,NaN,490.89,1190.53,8.33,0
2284,Upington,South Africa,14.64,58.55,4.68,1.17,1.46,1.76,0.59,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,878.26,NaN,0
2428,Uitenhage,South Africa,12.88,30.74,4.98,2.05,2.93,1.65,0.95,0.78,...,70.26,146.38,117.10,336.67,263.48,NaN,NaN,1229.57,8.50,0
2907,Vryburg,South Africa,8.78,26.35,5.15,NaN,NaN,NaN,0.70,NaN,...,NaN,NaN,NaN,585.51,NaN,NaN,NaN,1171.02,9.00,0
3466,Nelspruit,South Africa,10.54,36.59,3.34,2.05,2.93,1.89,1.30,0.82,...,93.68,322.03,219.57,753.84,702.61,857.77,828.96,1258.84,9.95,0
3536,Grahamstown,South Africa,5.86,27.81,3.66,2.05,2.34,1.81,0.95,0.70,...,67.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.29,0
3809,Mossel Bay,South Africa,7.03,17.57,4.07,1.46,2.05,1.61,0.92,0.73,...,50.35,409.86,351.30,878.26,614.78,831.42,761.16,702.61,7.00,0
3922,Knysna,South Africa,3.98,18.74,2.93,1.17,1.52,1.64,0.79,0.59,...,52.70,351.30,439.13,790.44,1171.02,878.26,702.61,398.15,8.81,0
4311,Jeffrey's Bay,South Africa,5.86,17.57,4.10,1.93,2.20,1.66,1.20,1.11,...,50.35,468.41,263.48,526.96,380.58,NaN,NaN,819.71,7.00,0
4356,Hermanus,South Africa,8.78,17.57,4.83,1.93,2.20,1.66,1.05,0.64,...,50.35,556.23,497.68,936.81,731.88,NaN,NaN,409.86,7.00,0
4726,Villiersdorp,South Africa,10.83,38.06,4.24,1.76,2.34,1.87,0.78,0.66,...,74.88,126.86,195.17,429.37,644.06,NaN,330.81,1873.10,8.88,0

In [7]:
#drop the 'country' column in df_mzansi since all the cities are South African
df_mzansi=df_mzansi.drop('country',axis=1)
df_mzansi

,city,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
124,Johannesburg,8.78,38.06,4.36,2.34,2.34,1.87,0.92,0.74,1.09,...,74.88,415.04,377.73,790.55,734.38,775.06,688.59,1549.63,8.88,1
344,Soweto,7.32,29.28,4.10,1.17,2.34,1.76,1.07,0.69,0.91,...,70.26,304.46,363.01,468.41,497.68,NaN,NaN,NaN,9.92,0
409,Vereeniging,11.12,39.52,4.68,1.17,1.46,2.05,0.97,0.79,1.17,...,76.06,NaN,NaN,NaN,NaN,NaN,NaN,1171.02,9.75,0
459,Pretoria,7.32,35.13,4.68,1.76,2.05,1.68,0.90,0.71,1.01,...,88.17,312.08,343.99,733.84,721.24,450.84,634.12,1389.27,8.63,1
484,Cape Town,8.78,35.13,4.10,2.34,2.63,1.84,0.91,0.69,0.94,...,78.02,722.68,482.29,1415.56,953.73,2108.49,1463.59,1288.41,8.49,1
495,Bloemfontein,4.98,32.20,3.66,1.76,1.76,2.07,1.11,0.81,1.11,...,111.25,172.72,234.20,478.16,538.67,2634.78,2415.22,1307.63,13.08,0
644,Pietermaritzburg,7.03,32.20,3.81,1.76,1.87,1.77,0.80,0.60,0.78,...,68.31,270.80,NaN,497.68,1053.91,1171.02,702.61,1210.05,9.25,0
765,Durban,8.78,35.13,4.10,1.87,2.34,1.76,0.96,0.73,1.10,...,73.55,361.06,309.42,697.12,651.87,683.09,873.72,1108.46,8.52,1
981,Welkom,3.28,35.13,4.24,1.99,2.34,1.05,0.89,0.64,1.00,...,83.43,NaN,NaN,222.49,NaN,NaN,NaN,NaN,9.62,0
1138,East London,5.86,27.81,3.66,2.05,2.34,1.81,0.95,0.70,0.96,...,67.31,307.39,300.07,526.96,692.85,618.81,NaN,1135.88,9.29,0
1145,Randburg,7.03,17.57,4.10,1.76,2.05,1.68,0.90,0.69,0.85,...,79.78,351.30,331.79,858.74,731.88,644.06,424.49,1678.45,8.63,0
1180,Roodepoort,8.20,35.13,4.10,1.76,2.34,1.66,0.89,0.86,1.00,...,82.95,585.51,605.02,1317.39,1171.02,585.51,439.13,907.54,9.00,0
1224,Port Elizabeth,12.88,43.91,4.98,2.05,2.63,1.81,1.06,0.78,1.08,...,93.68,526.22,442.79,936.81,684.31,1047.77,699.83,1180.94,8.81,1
1497,Centurion,7.03,29.28,4.24,1.46,1.76,1.71,0.94,0.86,1.07,...,78.55,341.55,308.37,629.42,722.13,351.30,437.18,1619.90,8.00,0
1551,Sandton,8.20,35.13,4.24,1.99,2.34,1.71,0.89,0.86,1.00,...,83.43,603.07,417.17,955.82,988.04,831.42,694.09,2006.34,9.62,1
1563,Polokwane,5.71,21.66,3.91,0.97,2.93,1.79,0.59,0.50,1.00,...,93.68,NaN,NaN,409.86,NaN,488.31,456.70,1990.73,7.00,0
1811,Klerksdorp,3.51,28.10,3.22,1.17,1.46,1.61,0.66,0.47,1.00,...,83.43,105.39,204.93,468.41,702.61,NaN,NaN,1112.46,9.62,0
1890,Rustenburg,10.54,30.74,3.37,1.76,2.22,1.72,1.05,0.82,0.87,...,54.16,351.30,468.41,585.51,702.61,NaN,NaN,1756.52,8.00,0
1902,Kimberley,4.98,32.20,3.66,1.14,1.29,1.71,1.04,0.66,1.11,...,111.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.08,0
1925,Benoni,10.83,40.99,4.68,1.17,1.46,2.05,0.96,0.72,0.89,...,76.06,234.20,614.78,392.29,1522.32,797.99,975.87,1551.59,9.25,0
1945,George,8.78,30.74,4.98,2.05,2.63,1.65,0.95,0.78,1.04,...,70.26,322.03,248.84,673.33,512.32,1024.64,819.71,878.26,8.50,0
2014,Vryheid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.99,...,119.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.25,0
2033,Potchefstroom,5.27,23.42,4.39,1.46,1.17,1.17,0.94,0.47,0.94,...,52.70,292.75,204.93,585.51,351.30,954.38,667.48,673.33,8.00,0
2268,Alberton,8.49,29.28,4.68,1.76,2.05,1.68,0.90,0.68,0.89,...,58.55,292.75,248.84,526.96,556.23,NaN,490.89,1190.53,8.33,0
2284,Upington,14.64,58.55,4.68,1.17,1.46,1.76,0.59,NaN,1.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,878.26,NaN,0
2428,Uitenhage,12.88,30.74,4.98,2.05,2.93,1.65,0.95,0.78,1.04,...,70.26,146.38,117.10,336.67,263.48,NaN,NaN,1229.57,8.50,0
2907,Vryburg,8.78,26.35,5.15,NaN,NaN,NaN,0.70,NaN,0.80,...,NaN,NaN,NaN,585.51,NaN,NaN,NaN,1171.02,9.00,0
3466,Nelspruit,10.54,36.59,3.34,2.05,2.93,1.89,1.30,0.82,1.19,...,93.68,322.03,219.57,753.84,702.61,857.77,828.96,1258.84,9.95,0
3536,Grahamstown,5.86,27.81,3.66,2.05,2.34,1.81,0.95,0.70,0.96,...,67.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.29,0
3809,Mossel Bay,7.03,17.57,4.07,1.46,2.05,1.61,0.92,0.73,0.93,...,50.35,409.86,351.30,878.26,614.78,831.42,761.16,702.61,7.00,0
3922,Knysna,3.98,18.74,2.93,1.17,1.52,1.64,0.79,0.59,1.08,...,52.70,351.30,439.13,790.44,1171.02,878.26,702.61,398.15,8.81,0
4311,Jeffrey's Bay,5.86,17.57,4.10,1.93,2.20,1.66,1.20,1.11,0.69,...,50.35,468.41,263.48,526.96,380.58,NaN,NaN,819.71,7.00,0
4356,Hermanus,8.78,17.57,4.83,1.93,2.20,1.66,1.05,0.64,1.09,...,50.35,556.23,497.68,936.81,731.88,NaN,NaN,409.86,7.00,0
4726,Villiersdorp,10.83,38.06,4.24,1.76,2.34,1.87,0.78,0.66,1.09,...,74.88,126.86,195.17,429.37,644.06,NaN,330.81,1873.10,8.88,0

In [8]:
#set the city column as the index of the dataset
df_mzansi=df_mzansi.set_index('city')
df_mzansi.head(3)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
city,,,,,,,,,,,,,,,,,,,,,
Johannesburg,8.78,38.06,4.36,2.34,2.34,1.87,0.92,0.74,1.09,0.90,...,74.88,415.04,377.73,790.55,734.38,775.06,688.59,1549.63,8.88,1
Soweto,7.32,29.28,4.10,1.17,2.34,1.76,1.07,0.69,0.91,0.76,...,70.26,304.46,363.01,468.41,497.68,NaN,NaN,NaN,9.92,0
Vereeniging,11.12,39.52,4.68,1.17,1.46,2.05,0.97,0.79,1.17,0.82,...,76.06,NaN,NaN,NaN,NaN,NaN,NaN,1171.02,9.75,0

At the time (2023/01/21) of this analysis, one 1 United States Dollar is ~ 17 South African Rand

In [9]:
#convert all the values in df_mzansi from USD to ZAR
df_mzansi.loc[:,'x1':'x54']=df_mzansi.loc[:,'x1':'x54'].apply(lambda p:p*17)
df_mzansi

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
city,,,,,,,,,,,,,,,,,,,,,
Johannesburg,149.26,647.02,74.12,39.78,39.78,31.79,15.64,12.58,18.53,15.30,...,1272.96,7055.68,6421.41,13439.35,12484.46,13176.02,11706.03,26343.71,8.88,1
Soweto,124.44,497.76,69.70,19.89,39.78,29.92,18.19,11.73,15.47,12.92,...,1194.42,5175.82,6171.17,7962.97,8460.56,NaN,NaN,NaN,9.92,0
Vereeniging,189.04,671.84,79.56,19.89,24.82,34.85,16.49,13.43,19.89,13.94,...,1293.02,NaN,NaN,NaN,NaN,NaN,NaN,19907.34,9.75,0
Pretoria,124.44,597.21,79.56,29.92,34.85,28.56,15.30,12.07,17.17,14.45,...,1498.89,5305.36,5847.83,12475.28,12261.08,7664.28,10780.04,23617.59,8.63,1
Cape Town,149.26,597.21,69.70,39.78,44.71,31.28,15.47,11.73,15.98,16.66,...,1326.34,12285.56,8198.93,24064.52,16213.41,35844.33,24881.03,21902.97,8.49,1
Bloemfontein,84.66,547.40,62.22,29.92,29.92,35.19,18.87,13.77,18.87,15.81,...,1891.25,2936.24,3981.40,8128.72,9157.39,44791.26,41058.74,22229.71,13.08,0
Pietermaritzburg,119.51,547.40,64.77,29.92,31.79,30.09,13.60,10.20,13.26,14.45,...,1161.27,4603.60,NaN,8460.56,17916.47,19907.34,11944.37,20570.85,9.25,0
Durban,149.26,597.21,69.70,31.79,39.78,29.92,16.32,12.41,18.70,14.62,...,1250.35,6138.02,5260.14,11851.04,11081.79,11612.53,14853.24,18843.82,8.52,1
Welkom,55.76,597.21,72.08,33.83,39.78,17.85,15.13,10.88,17.00,16.32,...,1418.31,NaN,NaN,3782.33,NaN,NaN,NaN,NaN,9.62,0
East London,99.62,472.77,62.22,34.85,39.78,30.77,16.15,11.90,16.32,13.43,...,1144.27,5225.63,5101.19,8958.32,11778.45,10519.77,NaN,19309.96,9.29,0
Randburg,119.51,298.69,69.70,29.92,34.85,28.56,15.30,11.73,14.45,12.92,...,1356.26,5972.10,5640.43,14598.58,12441.96,10949.02,7216.33,28533.65,8.63,0
Roodepoort,139.40,597.21,69.70,29.92,39.78,28.22,15.13,14.62,17.00,14.79,...,1410.15,9953.67,10285.34,22395.63,19907.34,9953.67,7465.21,15428.18,9.00,0
Port Elizabeth,218.96,746.47,84.66,34.85,44.71,30.77,18.02,13.26,18.36,15.98,...,1592.56,8945.74,7527.43,15925.77,11633.27,17812.09,11897.11,20075.98,8.81,1
Centurion,119.51,497.76,72.08,24.82,29.92,29.07,15.98,14.62,18.19,14.62,...,1335.35,5806.35,5242.29,10700.14,12276.21,5972.10,7432.06,27538.30,8.00,0
Sandton,139.40,597.21,72.08,33.83,39.78,29.07,15.13,14.62,17.00,16.32,...,1418.31,10252.19,7091.89,16248.94,16796.68,14134.14,11799.53,34107.78,9.62,1
Polokwane,97.07,368.22,66.47,16.49,49.81,30.43,10.03,8.50,17.00,12.07,...,1592.56,NaN,NaN,6967.62,NaN,8301.27,7763.90,33842.41,7.00,0
Klerksdorp,59.67,477.70,54.74,19.89,24.82,27.37,11.22,7.99,17.00,16.32,...,1418.31,1791.63,3483.81,7962.97,11944.37,NaN,NaN,18911.82,9.62,0
Rustenburg,179.18,522.58,57.29,29.92,37.74,29.24,17.85,13.94,14.79,15.47,...,920.72,5972.10,7962.97,9953.67,11944.37,NaN,NaN,29860.84,8.00,0
Kimberley,84.66,547.40,62.22,19.38,21.93,29.07,17.68,11.22,18.87,15.81,...,1891.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.08,0
Benoni,184.11,696.83,79.56,19.89,24.82,34.85,16.32,12.24,15.13,12.58,...,1293.02,3981.40,10451.26,6668.93,25879.44,13565.83,16589.79,26377.03,9.25,0
George,149.26,522.58,84.66,34.85,44.71,28.05,16.15,13.26,17.68,15.98,...,1194.42,5474.51,4230.28,11446.61,8709.44,17418.88,13935.07,14930.42,8.50,0
Vryheid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.83,16.15,...,2029.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.25,0
Potchefstroom,89.59,398.14,74.63,24.82,19.89,19.89,15.98,7.99,15.98,14.62,...,895.90,4976.75,3483.81,9953.67,5972.10,16224.46,11347.16,11446.61,8.00,0
Alberton,144.33,497.76,79.56,29.92,34.85,28.56,15.30,11.56,15.13,14.45,...,995.35,4976.75,4230.28,8958.32,9455.91,NaN,8345.13,20239.01,8.33,0
Upington,248.88,995.35,79.56,19.89,24.82,29.92,10.03,NaN,17.85,11.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14930.42,NaN,0
Uitenhage,218.96,522.58,84.66,34.85,49.81,28.05,16.15,13.26,17.68,15.98,...,1194.42,2488.46,1990.70,5723.39,4479.16,NaN,NaN,20902.69,8.50,0
Vryburg,149.26,447.95,87.55,NaN,NaN,NaN,11.90,NaN,13.60,14.96,...,NaN,NaN,NaN,9953.67,NaN,NaN,NaN,19907.34,9.00,0
Nelspruit,179.18,622.03,56.78,34.85,49.81,32.13,22.10,13.94,20.23,15.30,...,1592.56,5474.51,3732.69,12815.28,11944.37,14582.09,14092.32,21400.28,9.95,0
Grahamstown,99.62,472.77,62.22,34.85,39.78,30.77,16.15,11.90,16.32,13.43,...,1144.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.29,0
Mossel Bay,119.51,298.69,69.19,24.82,34.85,27.37,15.64,12.41,15.81,14.45,...,855.95,6967.62,5972.10,14930.42,10451.26,14134.14,12939.72,11944.37,7.00,0
Knysna,67.66,318.58,49.81,19.89,25.84,27.88,13.43,10.03,18.36,10.03,...,895.90,5972.10,7465.21,13437.48,19907.34,14930.42,11944.37,6768.55,8.81,0
Jeffrey's Bay,99.62,298.69,69.70,32.81,37.40,28.22,20.40,18.87,11.73,15.30,...,855.95,7962.97,4479.16,8958.32,6469.86,NaN,NaN,13935.07,7.00,0
Hermanus,149.26,298.69,82.11,32.81,37.40,28.22,17.85,10.88,18.53,15.30,...,855.95,9455.91,8460.56,15925.77,12441.96,NaN,NaN,6967.62,7.00,0
Villiersdorp,184.11,647.02,72.08,29.92,39.78,31.79,13.26,11.22,18.53,14.96,...,1272.96,2156.62,3317.89,7299.29,10949.02,NaN,5623.77,31842.70,8.88,0

In [11]:
#check the number of missing values in each column
df_mzansi_null=df_mzansi.isnull().sum().reset_index().rename(columns={'index':'column',0:'Missing_Values'})
#get the percentage(%) of missing values in each column
df_mzansi_null['Missing_%']=df_mzansi_null['Missing_Values'].apply(lambda n:round((n/df_mzansi.shape[0])*100),2)
df_mzansi_null

          column  Missing_Values  Missing_%
0             x1               1          3
1             x2               1          3
2             x3               1          3
3             x4               2          6
4             x5               2          6
5             x6               2          6
6             x7               1          3
7             x8               3          9
8             x9               0          0
9            x10               0          0
10           x11               2          6
11           x12               0          0
12           x13               0          0
13           x14               0          0
14           x15               0          0
15           x16               1          3
16           x17               1          3
17           x18               1          3
18           x19               1          3
19           x20               1          3
20           x21               1          3
21           x22               1          3
22           x23               1          3
23           x24               0          0
24           x25               1          3
25           x26               1          3
26           x27               1          3
27           x28              13         38
28           x29              18         53
29           x30               5         15
30           x31               7         21
31           x32              13         38
32           x33               1          3
33           x34               2          6
34           x35               2          6
35           x36               2          6
36           x37               4         12
37           x38               1          3
38           x39              15         44
39           x40              18         53
40           x41               3          9
41           x42               2          6
42           x43               3          9
43           x44               1          3
44           x45               2          6
45           x46               1          3
46           x47               2          6
47           x48               8         24
48           x49               9         26
49           x50               5         15
50           x51               8         24
51           x52              15         44
52           x53              14         41
53           x54               5         15
54           x55               1          3
55  data_quality               0          0

Some columns appear to have significantly more missing values, but by looking at the dataset it appears to be more row specific in that some rows just have more missing values in most columns

In [12]:
for i in df_mzansi.index:
    print(f" {i} has missing {df_mzansi.loc[i].isnull().sum()} values")
    print(f" And that's {round((((df_mzansi.loc[i].isnull().sum())/(len(df_mzansi.columns)))*100),2)}% of the values missing in the row",end='\n\n')

 Johannesburg has missing 0 values
 And that's 0.0% of the values missing in the row

 Soweto has missing 8 values
 And that's 14.29% of the values missing in the row

 Vereeniging has missing 10 values
 And that's 17.86% of the values missing in the row

 Pretoria has missing 0 values
 And that's 0.0% of the values missing in the row

 Cape Town has missing 0 values
 And that's 0.0% of the values missing in the row

 Bloemfontein has missing 1 values
 And that's 1.79% of the values missing in the row

 Pietermaritzburg has missing 5 values
 And that's 8.93% of the values missing in the row

 Durban has missing 0 values
 And that's 0.0% of the values missing in the row

 Welkom has missing 10 values
 And that's 17.86% of the values missing in the row

 East London has missing 4 values
 And that's 7.14% of the values missing in the row

 Randburg has missing 0 values
 And that's 0.0% of the values missing in the row

 Roodepoort has missing 1 values
 And that's 1.79% of the values missing in the row

 Port Elizabeth has missing 1 values
 And that's 1.79% of the values missing in the row

 Centurion has missing 0 values
 And that's 0.0% of the values missing in the row

 Sandton has missing 0 values
 And that's 0.0% of the values missing in the row

 Polokwane has missing 3 values
 And that's 5.36% of the values missing in the row

 Klerksdorp has missing 5 values
 And that's 8.93% of the values missing in the row

 Rustenburg has missing 4 values
 And that's 7.14% of the values missing in the row

 Kimberley has missing 12 values
 And that's 21.43% of the values missing in the row

 Benoni has missing 5 values
 And that's 8.93% of the values missing in the row

 George has missing 4 values
 And that's 7.14% of the values missing in the row

 Vryheid has missing 22 values
 And that's 39.29% of the values missing in the row

 Potchefstroom has missing 0 values
 And that's 0.0% of the values missing in the row

 Alberton has missing 5 values
 And that's 8.93% of the values missing in the row

 Upington has missing 29 values
 And that's 51.79% of the values missing in the row

 Uitenhage has missing 5 values
 And that's 8.93% of the values missing in the row

 Vryburg has missing 37 values
 And that's 66.07% of the values missing in the row

 Nelspruit has missing 2 values
 And that's 3.57% of the values missing in the row

 Grahamstown has missing 13 values
 And that's 23.21% of the values missing in the row

 Mossel Bay has missing 2 values
 And that's 3.57% of the values missing in the row

 Knysna has missing 2 values
 And that's 3.57% of the values missing in the row

 Jeffrey's Bay has missing 8 values
 And that's 14.29% of the values missing in the row

 Hermanus has missing 5 values
 And that's 8.93% of the values missing in the row

 Villiersdorp has missing 3 values
 And that's 5.36% of the values missing in the row

Looks like some cities have a significant amount of missing values so, I'm going to drop cities(rows) that have 10 or more values missing.

In [13]:
before_drop=len(df_mzansi.index)
before_drop

34

In [14]:
for i in df_mzansi.index:
    if (df_mzansi.loc[i].isnull().sum())>=10:
        df_mzansi.drop(i,inplace=True)

In [15]:
after_drop=len(df_mzansi.index)
after_drop

27

In [16]:
cities_dropped=before_drop-after_drop
print(f'{cities_dropped} cities didn\'t make the cut')

7 cities didn't make the cut

In [17]:
df_mzansi

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
city,,,,,,,,,,,,,,,,,,,,,
Johannesburg,149.26,647.02,74.12,39.78,39.78,31.79,15.64,12.58,18.53,15.30,...,1272.96,7055.68,6421.41,13439.35,12484.46,13176.02,11706.03,26343.71,8.88,1
Soweto,124.44,497.76,69.70,19.89,39.78,29.92,18.19,11.73,15.47,12.92,...,1194.42,5175.82,6171.17,7962.97,8460.56,NaN,NaN,NaN,9.92,0
Pretoria,124.44,597.21,79.56,29.92,34.85,28.56,15.30,12.07,17.17,14.45,...,1498.89,5305.36,5847.83,12475.28,12261.08,7664.28,10780.04,23617.59,8.63,1
Cape Town,149.26,597.21,69.70,39.78,44.71,31.28,15.47,11.73,15.98,16.66,...,1326.34,12285.56,8198.93,24064.52,16213.41,35844.33,24881.03,21902.97,8.49,1
Bloemfontein,84.66,547.40,62.22,29.92,29.92,35.19,18.87,13.77,18.87,15.81,...,1891.25,2936.24,3981.40,8128.72,9157.39,44791.26,41058.74,22229.71,13.08,0
Pietermaritzburg,119.51,547.40,64.77,29.92,31.79,30.09,13.60,10.20,13.26,14.45,...,1161.27,4603.60,NaN,8460.56,17916.47,19907.34,11944.37,20570.85,9.25,0
Durban,149.26,597.21,69.70,31.79,39.78,29.92,16.32,12.41,18.70,14.62,...,1250.35,6138.02,5260.14,11851.04,11081.79,11612.53,14853.24,18843.82,8.52,1
East London,99.62,472.77,62.22,34.85,39.78,30.77,16.15,11.90,16.32,13.43,...,1144.27,5225.63,5101.19,8958.32,11778.45,10519.77,NaN,19309.96,9.29,0
Randburg,119.51,298.69,69.70,29.92,34.85,28.56,15.30,11.73,14.45,12.92,...,1356.26,5972.10,5640.43,14598.58,12441.96,10949.02,7216.33,28533.65,8.63,0
Roodepoort,139.40,597.21,69.70,29.92,39.78,28.22,15.13,14.62,17.00,14.79,...,1410.15,9953.67,10285.34,22395.63,19907.34,9953.67,7465.21,15428.18,9.00,0
Port Elizabeth,218.96,746.47,84.66,34.85,44.71,30.77,18.02,13.26,18.36,15.98,...,1592.56,8945.74,7527.43,15925.77,11633.27,17812.09,11897.11,20075.98,8.81,1
Centurion,119.51,497.76,72.08,24.82,29.92,29.07,15.98,14.62,18.19,14.62,...,1335.35,5806.35,5242.29,10700.14,12276.21,5972.10,7432.06,27538.30,8.00,0
Sandton,139.40,597.21,72.08,33.83,39.78,29.07,15.13,14.62,17.00,16.32,...,1418.31,10252.19,7091.89,16248.94,16796.68,14134.14,11799.53,34107.78,9.62,1
Polokwane,97.07,368.22,66.47,16.49,49.81,30.43,10.03,8.50,17.00,12.07,...,1592.56,NaN,NaN,6967.62,NaN,8301.27,7763.90,33842.41,7.00,0
Klerksdorp,59.67,477.70,54.74,19.89,24.82,27.37,11.22,7.99,17.00,16.32,...,1418.31,1791.63,3483.81,7962.97,11944.37,NaN,NaN,18911.82,9.62,0
Rustenburg,179.18,522.58,57.29,29.92,37.74,29.24,17.85,13.94,14.79,15.47,...,920.72,5972.10,7962.97,9953.67,11944.37,NaN,NaN,29860.84,8.00,0
Benoni,184.11,696.83,79.56,19.89,24.82,34.85,16.32,12.24,15.13,12.58,...,1293.02,3981.40,10451.26,6668.93,25879.44,13565.83,16589.79,26377.03,9.25,0
George,149.26,522.58,84.66,34.85,44.71,28.05,16.15,13.26,17.68,15.98,...,1194.42,5474.51,4230.28,11446.61,8709.44,17418.88,13935.07,14930.42,8.50,0
Potchefstroom,89.59,398.14,74.63,24.82,19.89,19.89,15.98,7.99,15.98,14.62,...,895.90,4976.75,3483.81,9953.67,5972.10,16224.46,11347.16,11446.61,8.00,0
Alberton,144.33,497.76,79.56,29.92,34.85,28.56,15.30,11.56,15.13,14.45,...,995.35,4976.75,4230.28,8958.32,9455.91,NaN,8345.13,20239.01,8.33,0
Uitenhage,218.96,522.58,84.66,34.85,49.81,28.05,16.15,13.26,17.68,15.98,...,1194.42,2488.46,1990.70,5723.39,4479.16,NaN,NaN,20902.69,8.50,0
Nelspruit,179.18,622.03,56.78,34.85,49.81,32.13,22.10,13.94,20.23,15.30,...,1592.56,5474.51,3732.69,12815.28,11944.37,14582.09,14092.32,21400.28,9.95,0
Mossel Bay,119.51,298.69,69.19,24.82,34.85,27.37,15.64,12.41,15.81,14.45,...,855.95,6967.62,5972.10,14930.42,10451.26,14134.14,12939.72,11944.37,7.00,0
Knysna,67.66,318.58,49.81,19.89,25.84,27.88,13.43,10.03,18.36,10.03,...,895.90,5972.10,7465.21,13437.48,19907.34,14930.42,11944.37,6768.55,8.81,0
Jeffrey's Bay,99.62,298.69,69.70,32.81,37.40,28.22,20.40,18.87,11.73,15.30,...,855.95,7962.97,4479.16,8958.32,6469.86,NaN,NaN,13935.07,7.00,0
Hermanus,149.26,298.69,82.11,32.81,37.40,28.22,17.85,10.88,18.53,15.30,...,855.95,9455.91,8460.56,15925.77,12441.96,NaN,NaN,6967.62,7.00,0
Villiersdorp,184.11,647.02,72.08,29.92,39.78,31.79,13.26,11.22,18.53,14.96,...,1272.96,2156.62,3317.89,7299.29,10949.02,NaN,5623.77,31842.70,8.88,0

The column 'data_quality' indicates whether or not more comtributors are needed to increase data quality 0 if Numbeo considers that more contributors are needed to increase data quality, else 1, most of the south african cities are 0 so I'm just going to drop the column. also drop the x55 column

In [18]:
df_mzansi=df_mzansi.drop(['data_quality','x55'],axis=1)
df_mzansi.head(3)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x45,x46,x47,x48,x49,x50,x51,x52,x53,x54
city,,,,,,,,,,,,,,,,,,,,,
Johannesburg,149.26,647.02,74.12,39.78,39.78,31.79,15.64,12.58,18.53,15.30,...,461.04,1477.98,1272.96,7055.68,6421.41,13439.35,12484.46,13176.02,11706.03,26343.71
Soweto,124.44,497.76,69.70,19.89,39.78,29.92,18.19,11.73,15.47,12.92,...,325.21,796.28,1194.42,5175.82,6171.17,7962.97,8460.56,NaN,NaN,NaN
Pretoria,124.44,597.21,79.56,29.92,34.85,28.56,15.30,12.07,17.17,14.45,...,546.72,1368.50,1498.89,5305.36,5847.83,12475.28,12261.08,7664.28,10780.04,23617.59

Create a column that sums up the values in each city to get the cumulative cost of living in each city.

In [19]:
#sum all the values in the columns per row i.e per city to find the total
df_mzansi['Total']=df_mzansi.sum(axis=1)
df_mzansi.head(3)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x46,x47,x48,x49,x50,x51,x52,x53,x54,Total
city,,,,,,,,,,,,,,,,,,,,,
Johannesburg,149.26,647.02,74.12,39.78,39.78,31.79,15.64,12.58,18.53,15.30,...,1477.98,1272.96,7055.68,6421.41,13439.35,12484.46,13176.02,11706.03,26343.71,892095.57
Soweto,124.44,497.76,69.70,19.89,39.78,29.92,18.19,11.73,15.47,12.92,...,796.28,1194.42,5175.82,6171.17,7962.97,8460.56,NaN,NaN,NaN,466954.64
Pretoria,124.44,597.21,79.56,29.92,34.85,28.56,15.30,12.07,17.17,14.45,...,1368.50,1498.89,5305.36,5847.83,12475.28,12261.08,7664.28,10780.04,23617.59,806495.47

SOUTH AFRICAN CITIES AGRICULTURAL GOOD DATASET

My training is in agricultural economics so I would like to select only a subset of the df_mzansi dataset that includes agricultural/food products.

In [20]:
df_agric_mzansi=df_mzansi.loc[:,'x1':'x27']
df_agric_mzansi

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x18,x19,x20,x21,x22,x23,x24,x25,x26,x27
city,,,,,,,,,,,,,,,,,,,,,
Johannesburg,149.26,647.02,74.12,39.78,39.78,31.79,15.64,12.58,18.53,15.30,...,26.35,25.84,23.80,20.74,17.34,16.66,79.56,24.65,29.92,49.81
Soweto,124.44,497.76,69.70,19.89,39.78,29.92,18.19,11.73,15.47,12.92,...,18.53,19.38,17.85,18.87,13.43,14.96,67.15,17.00,20.57,42.33
Pretoria,124.44,597.21,79.56,29.92,34.85,28.56,15.30,12.07,17.17,14.45,...,21.08,23.63,20.23,19.04,16.32,16.32,79.56,22.44,31.62,49.81
Cape Town,149.26,597.21,69.70,39.78,44.71,31.28,15.47,11.73,15.98,16.66,...,23.12,25.16,18.53,18.53,17.00,15.30,79.56,25.50,33.15,49.81
Bloemfontein,84.66,547.40,62.22,29.92,29.92,35.19,18.87,13.77,18.87,15.81,...,24.48,27.88,17.51,18.53,20.91,22.44,89.59,23.63,32.30,43.86
Pietermaritzburg,119.51,547.40,64.77,29.92,31.79,30.09,13.60,10.20,13.26,14.45,...,24.82,22.95,15.98,17.85,15.98,15.98,59.67,21.42,34.85,46.75
Durban,149.26,597.21,69.70,31.79,39.78,29.92,16.32,12.41,18.70,14.62,...,20.06,19.89,15.98,14.11,16.15,15.13,69.70,20.40,28.56,49.81
East London,99.62,472.77,62.22,34.85,39.78,30.77,16.15,11.90,16.32,13.43,...,21.42,22.61,15.13,17.00,16.32,22.95,72.08,24.14,48.45,44.71
Randburg,119.51,298.69,69.70,29.92,34.85,28.56,15.30,11.73,14.45,12.92,...,18.53,19.38,17.85,19.04,16.32,13.43,79.56,22.44,20.57,46.75
Roodepoort,139.40,597.21,69.70,29.92,39.78,28.22,15.13,14.62,17.00,14.79,...,23.97,28.05,10.88,20.74,17.68,15.98,79.56,15.47,24.82,39.78
Port Elizabeth,218.96,746.47,84.66,34.85,44.71,30.77,18.02,13.26,18.36,15.98,...,24.82,25.67,18.87,23.46,16.83,14.45,79.56,21.59,28.56,49.81
Centurion,119.51,497.76,72.08,24.82,29.92,29.07,15.98,14.62,18.19,14.62,...,23.97,22.44,22.61,20.74,17.00,15.98,64.77,23.46,28.22,48.79
Sandton,139.40,597.21,72.08,33.83,39.78,29.07,15.13,14.62,17.00,16.32,...,23.97,28.05,20.57,20.74,17.68,15.98,79.56,23.97,28.22,49.81
Polokwane,97.07,368.22,66.47,16.49,49.81,30.43,10.03,8.50,17.00,12.07,...,19.89,19.89,10.03,10.03,17.00,17.68,79.56,17.85,18.36,48.28
Klerksdorp,59.67,477.70,54.74,19.89,24.82,27.37,11.22,7.99,17.00,16.32,...,23.97,28.05,20.57,20.74,17.68,11.90,79.56,23.97,28.22,44.71
Rustenburg,179.18,522.58,57.29,29.92,37.74,29.24,17.85,13.94,14.79,15.47,...,19.89,24.48,11.56,12.41,14.79,15.64,72.08,24.82,24.82,44.71
Benoni,184.11,696.83,79.56,19.89,24.82,34.85,16.32,12.24,15.13,12.58,...,18.87,17.00,11.39,14.96,16.83,14.96,69.70,18.36,24.82,47.26
George,149.26,522.58,84.66,34.85,44.71,28.05,16.15,13.26,17.68,15.98,...,14.45,25.67,13.43,18.87,16.49,10.37,64.77,21.59,14.96,49.81
Potchefstroom,89.59,398.14,74.63,24.82,19.89,19.89,15.98,7.99,15.98,14.62,...,13.94,19.89,19.89,22.61,17.00,14.96,64.77,19.89,27.88,48.79
Alberton,144.33,497.76,79.56,29.92,34.85,28.56,15.30,11.56,15.13,14.45,...,20.91,17.85,17.34,14.96,14.96,14.96,69.70,18.87,24.82,44.71
Uitenhage,218.96,522.58,84.66,34.85,49.81,28.05,16.15,13.26,17.68,15.98,...,19.89,24.82,16.83,18.87,16.49,14.45,79.56,21.59,14.96,49.81
Nelspruit,179.18,622.03,56.78,34.85,49.81,32.13,22.10,13.94,20.23,15.30,...,26.52,27.20,17.51,18.53,21.42,17.68,99.62,27.54,18.36,48.28
Mossel Bay,119.51,298.69,69.19,24.82,34.85,27.37,15.64,12.41,15.81,14.45,...,24.82,17.85,12.41,12.92,15.98,11.90,79.56,17.34,40.12,31.28
Knysna,67.66,318.58,49.81,19.89,25.84,27.88,13.43,10.03,18.36,10.03,...,24.82,19.89,18.87,14.96,14.96,14.45,79.56,14.96,24.82,49.81
Jeffrey's Bay,99.62,298.69,69.70,32.81,37.40,28.22,20.40,18.87,11.73,15.30,...,24.82,17.85,12.41,12.92,15.98,11.90,49.81,17.34,44.71,31.28
Hermanus,149.26,298.69,82.11,32.81,37.40,28.22,17.85,10.88,18.53,15.30,...,24.82,17.85,12.41,12.92,15.98,11.90,69.70,17.34,44.71,31.28
Villiersdorp,184.11,647.02,72.08,29.92,39.78,31.79,13.26,11.22,18.53,14.96,...,18.87,25.84,18.19,17.51,17.34,16.66,79.56,18.36,23.29,49.81

In [21]:
#create a 'Groceries' column which is the summation of all the products in df_agric_mzansi dataframe for all the cities.
df_agric_mzansi['Groceries']=df_agric_mzansi.sum(axis=1)
df_agric_mzansi.head(3)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x19,x20,x21,x22,x23,x24,x25,x26,x27,Groceries
city,,,,,,,,,,,,,,,,,,,,,
Johannesburg,149.26,647.02,74.12,39.78,39.78,31.79,15.64,12.58,18.53,15.30,...,25.84,23.80,20.74,17.34,16.66,79.56,24.65,29.92,49.81,1787.55
Soweto,124.44,497.76,69.70,19.89,39.78,29.92,18.19,11.73,15.47,12.92,...,19.38,17.85,18.87,13.43,14.96,67.15,17.00,20.57,42.33,1336.88
Pretoria,124.44,597.21,79.56,29.92,34.85,28.56,15.30,12.07,17.17,14.45,...,23.63,20.23,19.04,16.32,16.32,79.56,22.44,31.62,49.81,1654.78

In [22]:
df_agric_mzansi[['Groceries']].describe()

        Groceries
count    27.00000
mean   1542.07000
std     209.48812
min    1219.07000
25%    1330.42000
50%    1572.67000
75%    1701.87000
max    1973.19000

In [23]:
print(f"The average cost of groceries in South African cities is R{round(df_agric_mzansi['Groceries'].mean(),0)}")

The average cost of groceries in South African cities is R1542.0

In [24]:
most_expensive_groceries=df_agric_mzansi.index[df_agric_mzansi['Groceries']==df_agric_mzansi['Groceries'].max()][0]
cheapest_groceries=df_agric_mzansi.index[df_agric_mzansi['Groceries']==df_agric_mzansi['Groceries'].min()][0]

In [25]:
print(f"The city with the most expensive basket of groceries is {most_expensive_groceries}, at R{round(df_agric_mzansi['Groceries'].max(),0)}", end='\n\n')
print(f"The city with the cheapest basket of groceries is {cheapest_groceries},at R{round(df_agric_mzansi['Groceries'].min(),0)}")

The city with the most expensive basket of groceries is Port Elizabeth, at R1973.0

The city with the cheapest basket of groceries is Jeffrey's Bay,at R1219.0

Let's see where groceries cost more between Johannesburg and Cape Town

In [26]:
groceries_cpt=df_agric_mzansi.loc['Cape Town','Groceries']
groceries_jhb=df_agric_mzansi.loc['Johannesburg','Groceries']

In [27]:
if groceries_cpt>groceries_jhb:
    print(f"Groceries cost R{round(groceries_cpt-groceries_jhb,0)} more at Cape Town than Johannesburg")
elif groceries_jhb>groceries_cpt:
    print(f"Groceries cost R{round(groceries_jhb-groceries_cpt,0)} more at Johannesburg than Cape Town")
else:
    print('Groceries cost the same in Johannesburg and Cape Town')

Groceries cost R75.0 more at Johannesburg than Cape Town

BACK TO THE FULL DATASET

SALARIES:

In [28]:
df_mzansi.rename(columns={'x54':'Average_Salary'},inplace=True)
df_mzansi['Average_Salary']

city
Johannesburg        26343.71
Soweto                   NaN
Pretoria            23617.59
Cape Town           21902.97
Bloemfontein        22229.71
Pietermaritzburg    20570.85
Durban              18843.82
East London         19309.96
Randburg            28533.65
Roodepoort          15428.18
Port Elizabeth      20075.98
Centurion           27538.30
Sandton             34107.78
Polokwane           33842.41
Klerksdorp          18911.82
Rustenburg          29860.84
Benoni              26377.03
George              14930.42
Potchefstroom       11446.61
Alberton            20239.01
Uitenhage           20902.69
Nelspruit           21400.28
Mossel Bay          11944.37
Knysna               6768.55
Jeffrey's Bay       13935.07
Hermanus             6967.62
Villiersdorp        31842.70
Name: Average_Salary, dtype: float64

In [29]:
df_mzansi[['Average_Salary']].describe()

       Average_Salary
count       26.000000
mean     21071.996923
std       7491.333384
min       6768.550000
25%      16282.090000
50%      20736.770000
75%      26368.700000
max      34107.780000

In [30]:
df_mzansi['Average_Salary'].fillna(df_mzansi['Average_Salary'].mean(),inplace=True)
df_mzansi['Average_Salary']

city
Johannesburg        26343.710000
Soweto              21071.996923
Pretoria            23617.590000
Cape Town           21902.970000
Bloemfontein        22229.710000
Pietermaritzburg    20570.850000
Durban              18843.820000
East London         19309.960000
Randburg            28533.650000
Roodepoort          15428.180000
Port Elizabeth      20075.980000
Centurion           27538.300000
Sandton             34107.780000
Polokwane           33842.410000
Klerksdorp          18911.820000
Rustenburg          29860.840000
Benoni              26377.030000
George              14930.420000
Potchefstroom       11446.610000
Alberton            20239.010000
Uitenhage           20902.690000
Nelspruit           21400.280000
Mossel Bay          11944.370000
Knysna               6768.550000
Jeffrey's Bay       13935.070000
Hermanus             6967.620000
Villiersdorp        31842.700000
Name: Average_Salary, dtype: float64

In [31]:
print(f"The average salary of South African cities is R{round(df_mzansi['Average_Salary'].mean(),0)}")

The average salary of South African cities is R21072.0

In [32]:
Highest_Salary=df_mzansi['Average_Salary'].max()
Highest_Paying_City=df_mzansi.index[df_mzansi['Average_Salary']==df_mzansi['Average_Salary'].max()][0]

In [33]:
print(f"The city with the highest average salary is {Highest_Paying_City} at R{Highest_Salary}")

The city with the highest average salary is Sandton at R34107.78

In [34]:
Lowest_Salary=df_mzansi['Average_Salary'].min()
Lowest_Paying_City=df_mzansi.index[df_mzansi['Average_Salary']==df_mzansi['Average_Salary'].min()][0]

In [35]:
print(f"The city with the lowest average salary is {Lowest_Paying_City} at R{round(Lowest_Salary,2)}")

The city with the lowest average salary is Knysna at R6768.55

HOUSING:

1. x48 Apartment (1 bedroom) in City Centre (ZAR)
2. x49 Apartment (1 bedroom) Outside of Centre (ZAR)
3. x50 Apartment (3 bedrooms) in City Centre (ZAR)
4. x51 Apartment (3 bedrooms) Outside of Centre (ZAR)
5. x52 Price per Square Meter to Buy Apartment in City Centre (ZAR)
6. x53 Price per Square Meter to Buy Apartment Outside of Centre (ZAR)

In [36]:
df_mzansi_housing=df_mzansi.loc[:,'x48':'x53']
df_mzansi_housing.head()

                   x48      x49       x50       x51       x52       x53
city
Johannesburg   7055.68  6421.41  13439.35  12484.46  13176.02  11706.03
Soweto         5175.82  6171.17   7962.97   8460.56       NaN       NaN
Pretoria       5305.36  5847.83  12475.28  12261.08   7664.28  10780.04
Cape Town     12285.56  8198.93  24064.52  16213.41  35844.33  24881.03
Bloemfontein   2936.24  3981.40   8128.72   9157.39  44791.26  41058.74

In [37]:
df_mzansi_housing.describe()

,x48,x49,x50,x51,x52,x53
count,26.000000,25.000000,27.000000,26.000000,19.000000,20.000000
mean,6050.280385,5841.206800,11711.539259,12421.448846,15868.086316,13180.746000
std,2564.142859,2179.208603,4532.431626,4713.964928,9450.755979,7810.220402
min,1791.630000,1990.700000,5723.390000,4479.160000,5972.100000,5623.770000
25%,4976.750000,4230.280000,8294.640000,9704.747500,10734.395000,8199.822500
50%,5640.430000,5640.430000,10700.140000,11944.370000,14134.140000,11848.320000
75%,7033.665000,7465.210000,14018.965000,12473.835000,16821.670000,13974.382500
max,12285.560000,10451.260000,24064.520000,25879.440000,44791.260000,41058.740000

In [38]:
#fill the null values in the df_mzansi_housing dataframe with the median value of each column.
for col in df_mzansi_housing.columns:
    df_mzansi_housing[col].fillna(df_mzansi_housing[col].median(),inplace=True)
df_mzansi_housing.head()

C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

                   x48      x49       x50       x51       x52       x53
city
Johannesburg   7055.68  6421.41  13439.35  12484.46  13176.02  11706.03
Soweto         5175.82  6171.17   7962.97   8460.56  14134.14  11848.32
Pretoria       5305.36  5847.83  12475.28  12261.08   7664.28  10780.04
Cape Town     12285.56  8198.93  24064.52  16213.41  35844.33  24881.03
Bloemfontein   2936.24  3981.40   8128.72   9157.39  44791.26  41058.74

In [39]:
cheapest_city_centre_apt1BD=df_mzansi_housing.index[df_mzansi_housing['x48']==df_mzansi_housing['x48'].min()][0]
print(f"The city with the cheapest city centre 1 Bedroom apartment is {cheapest_city_centre_apt1BD} and it costs R{df_mzansi_housing['x48'].min()}")

The city with the cheapest city centre 1 Bedroom apartment is Klerksdorp and it costs R1791.63

In [40]:
expensive_city_centre_apt1BD=df_mzansi_housing.index[df_mzansi_housing['x48']==df_mzansi_housing['x48'].max()][0]
print(f"The city with the most expenisve city centre 1 Bedroom apartment is {expensive_city_centre_apt1BD} and it costs R{df_mzansi_housing['x48'].max()}")

The city with the most expenisve city centre 1 Bedroom apartment is Cape Town and it costs R12285.56

No suprises there..

In [41]:
print(f"The average cost of a city centre 1 Bedroom apartment is R{round(df_mzansi_housing['x48'].mean(),2)}")

The average cost of a city centre 1 Bedroom apartment is R6035.1

In [42]:
print(f"The average cost of a 1 Bedroom apartment outside city centre is R{round(df_mzansi_housing['x49'].mean(),2)}")

The average cost of a 1 Bedroom apartment outside city centre is R5826.33

In [56]:
print(f"It costs on average R{round((round(df_mzansi_housing['x48'].mean(),2))-(round(df_mzansi_housing['x49'].mean(),2)),2)} more to rent a 1BD apartment in the city centre than outside")

It costs on average R208.77 more to rent a 1BD apartment in the city centre than outside